<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucier.model">
    <resultMap type="com.lucifer.model.hfc.Artist" id="artistMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="avatar" property="avatar"/>
        <result column="intro" property="intro"/>
        <result column="detail" property="detail"/>
        <result column="top" property="top"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="artistList" resultMap="artistMap">
        select * from  hf_artist where is_deleted = 0 order by name_py limit #{offset},#{count}
    </select>

</mapper>