.head-box .h400{
    height:400px;
}

.news-menu{
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.news-menu .menu-item{
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    color: #373737;
}

.news-menu .active{
    color: red;
}