.head-box .h400{
    height:400px;
}

.news-menu{
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.news-menu .menu-item{
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    color: #373737;
}

.news-menu .active{
    color: red;
}

.news-left{
    width: 900px;
     height:400px;
}

.news-left .hr-border{
    width: 900px;
}
.recommend-news{
    width: 900px;
    position: relative;
}

.recommend-news img{
    width:900px;
    height:400px;
}