.share-info{
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 13px;
    //text-align:right;
    //height: 20px;
    height: 50px;
    line-height: 50px;
}

.share-info div{
    color: #777;
    margin-right: 2px;
    //float: right;
     height: 50px;
    line-height: 50px;
    //display: inline-block;
    float: left;
    margin-right: 30px;
}

.share-info .share-button{
   cursor: pointer;
}

.share-info img{
     height: 50px;
     width: 50px;
}