.box{
    box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
    border-top: 1px solid rgba(0,0,0,0.05);
    background-color: #FFFFFF;
}

.info-title{
  height: 20px;
  border-left: 3px solid #EA3E3C;
  margin-top: 20px;
  margin-left: 15px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.t-cn{
    color: rgb(38,38,38);
    font-size: 18px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
}
.t-en{
    color: #CCCCCC;
    font-size: 10px;
}
.h-box{
    width:240px;
    float: left;
}
.head-fm{
    margin-left: 50px;
    margin-top:50px;
}

#up-head-btn{
    width: 90px;
    height: 30px;
    background-color: #EB3D3E;
    color: #FFFFFF;
    line-height: 30px;
    text-align: center;
    margin-left: 75px;
    margin-top: 10px;
}

.i-box{
    float: left;
    margin-top: 50px;

}
.ftr{
    height: 40px;
    margin-bottom: 15px;
}
.f-name{
    color: #B2B2B2;
    font-size: 15px;
    float: left;
    width: 75px;
    text-align: right;
    height: 40px;
    line-height: 40px;

}

.f-input{
    float: left;
    margin-left: 30px;
}

.f-input input{
    height: 35px;
    width: 280px;
    //border :1px solid #B2B2B2;
    border :1px solid rgba(0,0,0,0.25);
    font-size: 16px;
    color: #4D4D4D;
    padding-left: 10px;
    background-color: #FAFAFA;
    border-radius: 1px;
}